{% extends "base.html" %}

{% block title %}Yeni Proje Ekle{% endblock %}

{% block extra_head %}
<style>
    body { padding-top: 76px; }
</style>
{% endblock %}

{% block content %}
<h3 class="mb-4">Yeni Proje Ekle</h3>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, msg in messages %}
    <div class="alert alert-{{category}}">{{msg}}</div>
  {% endfor %}
{% endwith %}

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="submission_token" value="{{ submission_token() }}">
  <div class="mb-3">
    <label class="form-label">Proje Adı</label>
    <input type="text" name="name" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Adres</label>
    <input type="text" name="address" class="form-control">
  </div>

  <div class="mb-3">
  <label class="form-label">Proje Türü</label>
  <select name="project_type" class="form-select" required>
      <option value="normal">Normal</option>
      <option value="cooperative">Kooperatif</option>
  </select>
  </div>


  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Toplam Kat Sayısı</label>
      <input type="number" name="floors" class="form-control" required>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label">Toplam Daire Sayısı</label>
      <input type="number" name="flats" class="form-control" required>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Projeyi Kaydet</button>
</form>
{% endblock %}
